.button.no-shadow {
  box-shadow: none !important;
}

.button.nav-shadow {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1) !important;
}

.button.no-border {
  border: none !important;
}

.button.no-bg {
  background: none !important;
}

.button.action {
  background: #d81b60 !important;
}

.no-min-widht {
  min-width: unset !important;
}
.nav-button-size,
.button-size {
  width: 50px !important;
  height: 50px !important;
  min-width: unset !important;
}

main.v-main {
  background: #f5f5f5 !important;
}

.hidde-header-nav-on-small {
  @media only screen and (max-width: 900px) {
    display: none !important;
  }
}

.show-buguer-header-nav-on-small {
  display: none;
  @media only screen and (max-width: 950px) {
    display: flex;
  }

  > button {
    font-weight: bold;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.1) !important;
    padding: 20px;
    background: linear-gradient(219.39deg, #b3416a -8.56%, #ee3030 102.75%);
  }
}
